<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Protect">
        <activity
            android:name=".lab11_activity"
            android:exported="true" />
        <activity
            android:name=".lab8_activity"
            android:exported="true" />
        <activity
            android:name=".lab10_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab9_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab7_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab6_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllTheory"
            android:exported="true"
            android:parentActivityName=".practic_activity" />
        <activity
            android:name=".lab5_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab4_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab3_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab2_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab1_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".practic_activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>